<div [ngClass]="eventState">
		<div class="panel-heading">Weather Event Received {{counts}} --> {{country}}</div>
    <div class="panel-body">
			<button class="btn btn-success" (click)="displayEmployees()">SHOW EMP</button>
    	<div *ngIf="employees">
    	 <table class="table table-bordered table-striped">
    		<tr *ngFor="let employee of employees">
    			<td>
    			{{employee.id}} </td><td> {{employee.employee_name}} </td><td> {{employee.employee_salary}}</td>
    		 </tr>
    	</table>
    	</div>
     </div>
    <div class="panel-footer">Copyright Synechron</div>
  </div>
